doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Mafia Moderator
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/new_game.css')
    body
        .Background
            div
                h1 Hello, #{name}!
                div Now you can create a new game
                form.CreateForm(method='post' action='/create_game/')
                    input.INPUT(type='text' name='title')
                    .CreateButton.BUTTON Create
                div or join to an existing one
                form.JoinForm(method='post' action='/join_game/')
                    input.INPUT(type='text' name='id')
                    .JoinButton.BUTTON Join
        script(src='/js/new_game.js')
